@font-face {
  font-family: roboto;
  src: url(../Roboto/Roboto-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: roboto;
}
.text-logo {
  color: #1b33ad !important;
}
.bg_logo {
  color: #1b33ad !important;
}
.carousel-item img {
  height: calc(100vh - 56px);
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  right: 25% !important;
  bottom: 50% !important;
  left: 25% !important;
  padding-top: 50px !important;
  padding-bottom: 80px !important;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(116, 112, 113, 0.3);
}
#info {
  width: 65%;
  margin: auto;
  /* margin-top: 20px; */
  display: flex;
  align-items: stretch;
}
#info div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
.bgWhite {
  color: white;
}
#inside_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 125px;
    left: 85px;
}
#signature{
    height:111.5px ;
    width: 305.5px;
    position: absolute;
    bottom:50px;
    left: 40%;
}
.ft{
font-size: 1.1rem;
}
